<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index file</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>



</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Advertisement"*/-->
<!--/*@thymesVar id="category" type="com.refs.models.Category"*/-->
<!--/*@thymesVar id="advertisementinfo" type="com.refs.models.AdvertisementInfo"*/-->
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Show advertisement!</h1>
                </div>
                <div class="panel-body">

                    <form th:object="${advertisement}" th:action="@{/advertisement/}" method="post">
                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-group">
                            <label>bubu:</label>
                            <input type="text" class="form-control" th:field="*{bubu}"/>
                        </div>
                        <div class="form-group">
                            <label>URL:</label>
                            <input type="text" class="form-control" th:field="*{url}"/>
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" th:field="*{description}"/>
                        </div>
                        <div class="form-group">
                            <label>URL:</label>
                            <input type="text" class="form-control" th:field="*{title}"/>
                        </div>

                        <!-- List of available categories manyToMany -->
                        <div class="row" th:if="${not #lists.isEmpty(categories)}">
                            <div class="col-md-3 form-group">
                                <label>Categories:</label>
                            </div>
                            <div class="col-md-9 form-group">
                                <div class="radio" th:each="category : ${categories}">
                                    <label th:text="${category.name}">
                                        Cat 1
                                    </label>
                                    <input type="checkbox" th:value="${category.id}" th:field="*{categories}"/>
                                </div>


                                <div class="radio" th:remove="all">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Cat 2
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- 222 List of available categories manyToMany -->
                        <div class="row" th:if="${not #lists.isEmpty(categories)}">
                            <div class="col-md-3 form-group">
                                <label>Categories:</label>
                            </div>
                            <div class="col-md-9 form-group">
                                <select class="radio" multiple="multiple" th:field="*{categories}">
                                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category}"/>
                                </select>


                                <div class="radio" th:remove="all">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Cat 2
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!== List of advertisement info OneToOne relation -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Advertisement Info</h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" rows="3" th:field="*{advertisementInfo.advertisementInfo}" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 form-group">
                            <label>Availability:</label>
                            <select class="form-control" th:field="*{availability}">

                                <option th:each="availabilityValue : ${T(com.refs.models.Availability).values()}"
                                        th:value="${availabilityValue.name()}"
                                        th:text="${availabilityValue.name()}"
                                >val</option>
                            </select>
                            <select class="form-control" th:remove="all">
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
console.log('kuku');
    });
</script>