<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" >-->
<html layout:decorate="~{layouts/index}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<body>
<!--/*@thymesVar id="advertisements" type="java.util.List"*/-->
<!--/*@thymesVar id="advertisement" type="com.refs.models.Advertisement"*/-->
    <div class="container" style="margin-top: 20px" layout:fragment="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h1 class="panel-title">My advertisements!</h1>
                    </div>
                    <div class="panel-body">


                        <table class="table" th:if="${not #lists.isEmpty(advertisements)}">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:remove="all">
                                    <td>ID</td>
                                    <td>sdfsdf</td>
                                    <td>View</td>
                                    <td>Update</td>
                                    <td>Delete</td>
                                </tr>
                                <tr th:remove="all">
                                    <td>ID</td>
                                    <td>sdsfsd</td>
                                    <td>View</td>
                                    <td>Update</td>
                                    <td>Delete</td>
                                </tr>

                                <tr th:each="advertisement : ${advertisements}" >
                                    <td th:text="${advertisement.id}">ID</td>
                                    <td th:text="${advertisement.title}">sdsfsd</td>
                                    <td th:text="${advertisement.description}">View</a></td>
                                    <td th:text="${advertisement.date}">Update</td>
                                    <td >
                                        <a href="#" th:href="@{'/advertisement/' + ${advertisement.id} + '/show'}">View</a>
                                        <a href="#" th:href="@{'/advertisement/' + ${advertisement.id} + '/update'}">Update</a>
                                        <a href="#" th:href="@{'/advertisement/' + ${advertisement.id} + '/delete'}">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="layouts/footer :: 'footer'">
    &copy; 2016 The Static Templates
</div>
</body>
</html>
<script>
    $(document).ready(function() {
console.log('kuku');
    });
</script>