<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/index}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<div class="container" style="margin-top: 20px" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Show advertisement!</h1>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>View</th>
                            <th>Advertisement Info</th>
                            <th>Categories</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:remove="all">
                            <td>ID</td>
                            <td>sdfsdf</td>
                            <td>View</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                        <tr th:remove="all">
                            <td>ID</td>
                            <td>sdsfsd</td>
                            <td>View</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>

                        <tr>
                            <td th:text="${advertisement.id}">ID</td>
                            <td th:text="${advertisement.title}">sdsfsd</td>
                            <td th:text="${advertisement.description}">View</td>
                            <td th:if="${advertisement.advertisementInfo}" th:text="${advertisement.advertisementInfo.advertisementInfo}">advertisement info</td>
                            <td >
                                <p th:if="${advertisement.categories}" th:each="category: ${advertisement.categories}" th:text="${category.name}"></p><br/>
                            </td>
                            <td th:text="${advertisement.date}">Update</td>
                            <td>Delete</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <table class="table" th:if="${not #lists.isEmpty(advertisement.comments)}">
                    <th>Komentaras</th>
                    <tr th:each="commentD : ${advertisement.comments}" >
                        <td th:text="${commentD.comment}"></td>
                    </tr>
                </table>

                <form th:object="${comment}" th:action="@{/advertisement/{id}/comment(id=${advertisement.id})}" method="post">
                    <input type="hidden" th:value="${comment.id}" th:field="*{id}"/>
                    <input type="hidden" th:value="${advertisement.id}" name="advertisementId" />
                    <div class="form-group">
                        <label>Comment:</label>
                        <input type="text" class="form-control" th:field="*{comment}"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
console.log('kuku');
    });
</script>