<!DOCTYPE html>
<html layout:decorate="~{layouts/index}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="categories" type="java.util.List"*/-->
<!--/*@thymesVar id="category" type="com.refs.models.User"*/-->
<div class="container" style="margin-top: 20px" layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">My users!</h1>
                </div>
                <div class="panel-body">

                    <a href="/user/new">New User</a>
                    <table class="table" th:if="${not #lists.isEmpty(users)}">
                        <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Parent User</th>
                            <th>Role</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:remove="all">
                            <td>ID</td>
                            <td>sdfsdf</td>
                            <td>View</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                        <tr th:remove="all">
                            <td>ID</td>
                            <td>sdsfsd</td>
                            <td>View</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>

                        <tr th:each="user : ${users}" >
                            <td th:text="${user.id}">ID</td>
                            <td th:text="${user.name}">sdsfsd</td>
                            <td th:text="${user.lastName}">View</a></td>
                            <td th:text="${user.parentUser}">Update</td>
                            <td th:text="${user.userRole}">Update</td>
                            <td >
                                <a href="#" th:href="@{'/users/' + ${user.id} + '/show'}">View</a>
                                <a href="#" th:href="@{'/users/' + ${user.id} + '/update'}">Update</a>
                                <a href="#" th:href="@{'/users/' + ${user.id} + '/delete'}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>