<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/index}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div class="container" style="margin-top: 20px" layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Users form!</h1>
                </div>
                <div class="panel-body">

                    <form th:object="${user}" th:action="@{/users/}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" class="form-control" th:field="*{username}"/>
                        </div>
                        <div class="form-group">
                            <label>name:</label>
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                        <div class="form-group">
                            <label>Lastname:</label>
                            <input type="text" class="form-control" th:field="*{lastName}"/>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control" th:field="*{password}"/>
                        </div>
                        <div class="form-group">
                            <label>ParentUser:</label>
                            <input type="number" class="form-control" th:field="*{parentUser}"/>
                        </div>
                        <div class="form-group">
                            <label>Role:</label>
                            <select class="form-control" th:field="*{userRole}">
                                <option th:each="userRole : ${T(com.refs.models.UserRole).values()}"
                                        th:value="${userRole.name()}"
                                        th:text="${userRole.name()}"
                                >val
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>