<!DOCTYPE html>
<html layout:decorate="~{layouts/index}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.springframework.org/schema/data/jaxb" >
    <meta charset="UTF-8">
    <title>Index file</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>



</head>
<body>
    <div class="container" style="margin-top: 20px" layout:fragment="content">
        <div>Latest entries by categories bellow</div>

                            <div class="row" th:if="${not #lists.isEmpty(categories)}"  >

                                <div class="col-md-4" th:each="category : ${categories}">
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">
                                            <h1 class="panel-title" th:text="${category.name}">>My advertisements!</h1>
                                        </div>
                                        <div class="panel-body" th:if="${not #lists.isEmpty(category.advertisements)}" th:each="advertisement,aStat : ${category.advertisements}" th:unless="${aStat.index > 7}">

                                            <a href="#"  th:href="@{'/advertisement/' + ${advertisement.id} + '/show'}" th:text="${advertisement.title}" >View</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

    <div th:replace="layouts/footer :: 'footer'">
        &copy; 2016 The Static Templates
    </div>
</body>
</html>
